body {
  background: #111;
  color: #eee;
  font-family: sans-serif;
}

.d2h-file-list-wrapper {
  margin: 25px 0;
}

a:link {
  color: #79c0ff;
}

a:hover {
  color: #afd9ff;
}

a:visited {
  color: #b99bff;
}

a:visited:hover {
  color: #e3d7ff;
}

table:first-child {
  width:80%;
  margin: 0 auto;
}